// Border: radius
$border-radius-none: 0px;
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-24: 24px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;

:root {
  --border-radius-none: #{$border-radius-none};
  --border-radius-4: #{$border-radius-4};
  --border-radius-8: #{$border-radius-8};
  --border-radius-12: #{$border-radius-12};
  --border-radius-16: #{$border-radius-16};
  --border-radius-24: #{$border-radius-24};
  --border-radius-pill: #{$border-radius-pill};
  --border-radius-circular: #{$border-radius-circular};
}
