.zds-custom__drawer-shadow {
  position: fixed;
  z-index: 20;
  background-color: var(--color-neutral-low-default); // Era: $low-color-default
  opacity: 0.3 !important;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); // IE8
  filter: alpha(opacity=30); // IE5-7
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 0.3s;
}

.zds-custom__drawer-sidebar {
  position: fixed;
  background-color: var(--color-neutral-high-default); // Era: $high-color-light
  border: var(--border-width-1) solid var(--color-neutral-high-dark); // Era: 1px solid $high-color-dark
  right: 0;
  top: 0;
  bottom: 0;
  transition: ease-in 0.3s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);

}

.zds-custom__drawer-sidebar .zds-drawer__title-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-24) var(--spacing-24) 0 var(--spacing-24); 
  
  
}

.zds-custom__drawer-sidebar .zds-drawer__title-close .zds-drawer__title {
  font-size: var(--font-size-24); 
  font-weight: var(--font-weight-bold); 
  color: var(--color-neutral-low-default); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(100% - 48px); 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.zds-custom__drawer-sidebar .zds-drawer__title-close .zds-drawer__close {
  cursor: pointer;
  color: var(--color-brand-primary-default); 
}

.zds-custom__drawer-sidebar .zds-drawer__children {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-24) var(--spacing-24) 0 var(--spacing-24); 

}

.zds-drawer__children{
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-low-default);
}
.zds-custom__drawer-sidebar .btns {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .zds-custom__drawer-sidebar {
    width: 100%;
  }
}