@use '../../styles/mixins/scale' as *;

.container {
  --giro-scale: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  height: scale(70px);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  height: scale(44px);
  border-radius: scale(var(--border-radius-8));
  border: scale(var(--border-width-1)) solid var(--color-neutral-high-dark);
  background-color: var(--color-neutral-high-default);
  box-sizing: border-box;
  overflow: hidden;

  &:hover {
    border: scale(var(--border-width-1)) solid var(--color-neutral-low-dark);
  }

  &:focus-within {
    border: none;
    outline: scale(var(--border-width-2)) solid var(--color-brand-primary-default);
  }

  input {
    min-width: scale(150px);
    width: 100%;
    display: inline-flex;
    height: scale(44px);
    padding: 0px scale(var(--spacing-16));
    align-items: center;
    align-self: stretch;
    border-radius: scale(var(--border-radius-8));
    border: none;
    outline: none;
    color: var(--color-neutral-low-default);
    font-size: scale(var(--font-size-16));
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;

    &::placeholder {
      color: var(--color-neutral-low-medium);
      font-family: var(--font-family-primary);
      font-weight: var(--font-weight-regular);
      font-size: scale(var(--font-size-16));
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px var(--color-neutral-high-default) inset;
      box-shadow: 0 0 0 1000px var(--color-neutral-high-default) inset;
      -webkit-text-fill-color: var(--color-neutral-low-default);
      transition: background-color 5000s ease-in-out 0s;
    }

    &[type='number'] {
      appearance: textfield;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.icon,
.clearButton {
  position: absolute;
  right: scale(var(--spacing-16));
  cursor: pointer;
  width: scale(16px);
  height: scale(16px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: scale(var(--font-size-16));

  svg {
    width: 1em;
    height: 1em;
  }
}

.inputWithIcon {
  width: calc(100% - scale(32px)) !important;
}

.clearButton {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}

.helperText {
  font-size: scale(var(--font-size-12));
  color: var(--color-neutral-low-medium);
  font-family: var(--font-family-primary);
  padding-top: scale(var(--spacing-8));
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
  overflow: hidden;
  display: block;

  &:empty::after {
    content: '\00A0';
    visibility: hidden;
  }
}

// Estados de erro
.error {
  .helperText ,
  .icon,
  .clearButton {
    color: var(--color-feedback-alert-default);
  }

  .inputContainer {
    border: scale(var(--border-width-1)) solid var(--color-feedback-alert-default);

    &:focus-within {
      border: none;
      outline: scale(var(--border-width-1)) solid var(--color-feedback-alert-default);
    }
  }
}

// Estado desabilitado
.disabled {
  .label,
  .required {
    color: var(--color-neutral-high-dark);
  }

  .inputContainer {
    border: scale(var(--border-width-1)) solid var(--color-neutral-high-dark);
    background-color: var(--color-neutral-high-default);

    &:hover {
      border: scale(var(--border-width-1)) solid var(--color-neutral-high-dark);
    }

    input {
      color: var(--color-neutral-high-dark);

      &::placeholder {
        color: var(--color-neutral-high-dark);
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px var(--color-neutral-high-default) inset;
        box-shadow: 0 0 0 1000px var(--color-neutral-high-default) inset;
        -webkit-text-fill-color: var(--color-neutral-high-dark);
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  .icon,
  .clearButton {
    cursor: default;
    color: var(--color-neutral-high-dark);
  }

  .label {
    pointer-events: none;
  }
}

.attachedToVirtualKeyboard {
  height: auto;
  min-height: auto;

  .inputWrapper {
    width: 100%;
  }

  .inputContainer {
    &:hover {
      border: scale(var(--border-width-1)) solid var(--color-neutral-high-medium);
    }

    &:focus-within {
      border: scale(var(--border-width-1)) solid var(--color-neutral-high-medium);
      outline: none;
    }
  }

  .helperText {
    width: 100%;
    min-height: auto;
    color: var(--color-neutral-low-default);
    padding: var(--spacing-8) var(--spacing-0) var(--spacing-0);
    box-sizing: border-box;
  }

  &.errorWithMessage {
    .helperText {
      color: var(--color-feedback-alert-default);
    }
  }
}


.clearButtonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
