.zds-list-item__container {
    list-style: none;
    height: 44px;
    color: var(--color-neutral-low-default);
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: all ease-in-out 0.1s;
    font-family: var(--font-family-primary);
    border-radius: var(--border-radius-8);
    padding: var(--spacing-0) var(--spacing-16);

    &.zds-list-item--checkbox {
        padding: var(--spacing-0) var(--spacing-16) var(--spacing-0) var(--spacing-8);
    }

    &.zds-list-item--icon {
        padding: var(--spacing-0) var(--spacing-16);
        gap: var(--spacing-8);
    }

    &.zds-list-item--radio {
        padding: var(--spacing-0) var(--spacing-16) var(--spacing-0) var(--spacing-8);

    }

    &.zds-list-item--text {
        padding: var(--spacing-0) var(--spacing-16);
    }

    &:focus {
        background-color: var(--color-neutral-high-medium);
    }
}

.zds-list-item__container.zds-list-item--hovered:hover {
    background-color: var(--color-neutral-high-medium);
}

.zds-list-item--disabled {
    pointer-events: none;
    color: var(--color-neutral-low-light);
}

.zds-list-item__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    align-items: flex-start;
}

.zds-list-item__wrapper-icon {
    display: flex;
}

span.zds-list-item__title {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
}

span.zds-list-item__subtext {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
}

.zds-list-item__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}