.container {
  font-family: var(--font-family-primary);
  width: 100%;

  :global(.hg-theme-default) {
    font-family: var(--font-family-primary);

    :global(.hg-button) {
      font-family: var(--font-family-primary);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.layout--numeric {
    :global(.hg-button) {
      flex: 1 0 0;
    }
  }

  &.mode--fixed {
    display: flex;
    flex-direction: column;
    border: var(--border-width-1) solid var(--color-neutral-high-dark);
    border-radius: var(--border-radius-8);
    overflow: hidden;

    :global(.hg-theme-default) {
      border-radius: var(--border-radius-none);
    }
  }
}

.textFieldWrapper {
  width: 100%;

  [class*='inputContainer'] {
    border: none;
    border-radius: var(--border-radius-none);
    border-bottom: var(--border-width-1) solid var(--color-neutral-high-dark);

    &:hover {
      border: var(--border-width-none);
      border-bottom: var(--border-width-1) solid var(--color-neutral-low-dark);
    }
  }
}

.textField {
  height: 50px;
}
