# CODEOWNERS

# Pacotes principais

/packages/tokens/           @giro-design/tokens-team
/packages/react/ @giro-design/frontend
/packages/icons/            @giro-design/frontend
/packages/grid/             @giro-design/frontend
/packages/utils/            @giro-design/frontend

# Storybook

/apps/storybook/            @giro-design/docs

# Documentação e governança

/README.md                  @giro-design/core
/CONTRIBUTING.md            @giro-design/core
/LICENSE                    @giro-design/core
/CHANGELOG.md               @giro-design/core
