@use '../../styles/mixins/scale' as *;

.container {
	--giro-scale: 1;
	display: flex;
	align-items: center;
}

.switchRoot {
	width: scale(54px);
	height: scale(34px);
	background-color: var(--color-neutral-high-light);
	border-radius: scale(var(--border-radius-pill));
	box-shadow: none;
	padding: scale(var(--spacing-4));
	outline: var(--border-width-1) solid var(--color-neutral-high-dark);
	border: none;
	position: relative;
	align-items: center;
	&:hover {
		background-color: var(--color-neutral-high-medium);
	}
	&:focus {
		background-color: var(--color-neutral-high-light);
		outline: scale(var(--border-width-2)) solid var(--color-brand-primary-light);
		box-shadow: none;
	}
	&[data-state="checked"] {
		background-color: var(--color-brand-primary-default);
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:hover {
		background-color: var(--color-brand-primary-medium);
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:focus {
		outline: scale(var(--border-width-2)) solid var(--color-brand-primary-light);
		box-shadow: none;
	}
	&:disabled {
		background: var(--color-neutral-high-dark);
		box-shadow: none;
	}
	&[data-state="checked"]:disabled {
		background: var(--color-brand-primary-light);
		box-shadow: none;
	}
}

.switchThumb {
	display: block;
	width: scale(22px);
	height: scale(22px);
	background-color: var(--color-neutral-low-medium);
	border-radius: scale(var(--border-radius-circular));
	border: none;
	box-shadow: none;
	transition: transform 100ms;
	will-change: transform;
	&:focus {
		outline: scale(var(--border-width-2)) solid var(--color-brand-primary-light);
	}
	&[data-state="checked"] {
		transform: translateX(scale(20px));
		width: scale(26px);
		height: scale(26px);
		background-color: var(--color-neutral-high-default);
	}
}
