.container {
	--switch-scale: 1;
	display: flex;
	align-items: center;
}

.switchRoot {
	width: calc(54px * var(--switch-scale, 1));
	height: calc(34px * var(--switch-scale, 1));
	background-color: var(--color-neutral-high-light);
	border-radius: calc(var(--border-radius-pill) * var(--switch-scale, 1));
	box-shadow: none;
	padding: calc(var(--spacing-4) * var(--switch-scale, 1));
	outline: var(--border-width-1) solid var(--color-neutral-high-dark);
	border: none;
	position: relative;
	align-items: center;
	&:hover {
		background-color: var(--color-neutral-high-medium);
	}
	&:focus {
		background-color: var(--color-neutral-high-light);
		outline: calc(var(--border-width-2) * var(--switch-scale, 1)) solid var(--color-brand-primary-light);
		box-shadow: none;
	}
	&[data-state="checked"] {
		background-color: var(--color-brand-primary-default);
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:hover {
		background-color: var(--color-brand-primary-medium);
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:focus {
		outline: calc(var(--border-width-2) * var(--switch-scale, 1)) solid var(--color-brand-primary-light);
		box-shadow: none;
	}
	&:disabled {
		background: var(--color-neutral-high-dark);
		box-shadow: none;
	}
	&[data-state="checked"]:disabled {
		background: var(--color-brand-primary-light);
		box-shadow: none;
	}
}

.switchThumb {
	display: block;
	width: calc(22px * var(--switch-scale, 1));
	height: calc(22px * var(--switch-scale, 1));
	background-color: var(--color-neutral-low-medium);
	border-radius: calc(var(--border-radius-circular) * var(--switch-scale, 1));
	border: none;
	box-shadow: none;
	transition: transform 100ms;
	will-change: transform;
	&:focus {
		outline: calc(var(--border-width-2) * var(--switch-scale, 1)) solid var(--color-brand-primary-light);
	}
	&[data-state="checked"] {
		transform: translateX(calc(20px * var(--switch-scale, 1)));
		width: calc(26px * var(--switch-scale, 1));
		height: calc(26px * var(--switch-scale, 1));
		background-color: var(--color-neutral-high-default);
	}
}
