@use '../../styles/mixins/scale' as *;

.labelContainer {
  display: flex;
  align-items: center;
  gap: scale(var(--spacing-4));
  margin-bottom: scale(var(--spacing-4));
}

.wrapperLabel {
  color: var(--color-neutral-low-default);
  font-family: var(--font-family-primary);
  font-size: scale(var(--font-size-14));
  font-style: normal;
  font-weight: var(--font-weight-regular);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.requiredLabel {
  color: var(--color-brand-primary-default);
  margin-left: scale(var(--spacing-4));
}
.infoIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-brand-primary-default);
  font-size: scale(var(--font-size-14));
  svg {
    width: 1em;
    height: 1em;
  }
}
.errorIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-feedback-alert-default);
  font-size: scale(var(--font-size-14));
  svg {
    width: 1em;
    height: 1em;
  }
}
.disabledIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-neutral-high-dark);
  font-size: scale(var(--font-size-14));
  svg {
    width: 1em;
    height: 1em;
  }
}
.errorLabel {
  color: var(--color-feedback-alert-default);
  .requiredLabel {
    color: var(--color-feedback-alert-default);
  }
}
.disabledLabel {
  color: var(--color-neutral-high-dark);
  .requiredLabel {
    color: var(--color-neutral-high-dark);
  }
}
.disabledContainer {
  color: var(--color-neutral-high-dark);

  .infoIcon {
    color: var(--color-neutral-high-dark);
  }
}