.labelContainer {
  display: flex;
  align-items: center;
  gap:var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.wrapperLabel {
  color: var(--color-neutral-low-default);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.requiredLabel {
  color: var(--color-neutral-low-default);
  margin-left: var(--spacing-4);
}
.infoIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-neutral-low-default);
}
.errorIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-feedback-alert-default);
}
.disabledIcon {
  display: inline-flex;
  line-height: 0;
  color: var(--color-neutral-high-dark);
}
.errorLabel {
  color: var(--color-feedback-alert-default);
  .requiredLabel {
    color: var(--color-feedback-alert-default);
  }
}
.disabledLabel {
  color: var(--color-neutral-high-dark);
  .requiredLabel {
    color: var(--color-neutral-high-dark);
  }
}
.disabledContainer {
  color: var(--color-neutral-high-dark);

  .infoIcon {
    color: var(--color-neutral-high-dark);
  }
}