// Colors: brand/primary
$brand-color-primary-default: #3b45f2;
$brand-color-primary-dark: #0d1874;
$brand-color-primary-medium: #4f83fb;
$brand-color-primary-light: #cadaff;

// Colors: brand/secondary
$brand-color-secondary-default: #8cd92a;
$brand-color-secondary-dark: #3c7a2c;
$brand-color-secondary-medium: #d3ff9a;
$brand-color-secondary-light: #eeffd8;

:root {
  --brand-color-primary-default: #{$brand-color-primary-default};
  --brand-color-primary-dark: #{$brand-color-primary-dark};
  --brand-color-primary-medium: #{$brand-color-primary-medium};
  --brand-color-primary-light: #{$brand-color-primary-light};
  --brand-color-secondary-default: #{$brand-color-secondary-default};
  --brand-color-secondary-dark: #{$brand-color-secondary-dark};
  --brand-color-secondary-medium: #{$brand-color-secondary-medium};
  --brand-color-secondary-light: #{$brand-color-secondary-light};
}
