// Colors: feedback/alert
$alert-color-default: #e81e42;
$alert-color-dark: #b4052f;
$alert-color-medium: #ff7495;
$alert-color-light: #ffc7d8;

// Colors: feedback/success
$success-color-default: #0aed9b;
$success-color-dark: #0ab16b;
$success-color-medium: #6cf4c3;
$success-color-light: #c1fae6;

:root {
  --alert-color-default: #{$alert-color-default};
  --alert-color-dark: #{$alert-color-dark};
  --alert-color-medium: #{$alert-color-medium};
  --alert-color-light: #{$alert-color-light};
  --success-color-default: #{$success-color-default};
  --success-color-dark: #{$success-color-dark};
  --success-color-medium: #{$success-color-medium};
  --success-color-light: #{$success-color-light};
}
