// Colors: neutral/low
$low-color-default: #111119;
$low-color-dark: #505255;
$low-color-medium: #88898c;
$low-color-light: #b8b9be;

// Colors: neutral/high
$high-color-default: #ffffff;
$high-color-dark: #cfd0da;
$high-color-medium: #e8e8ee;
$high-color-light: #f5f5fa;

:root {
  --low-color-default: #{$low-color-default};
  --low-color-dark: #{$low-color-dark};
  --low-color-medium: #{$low-color-medium};
  --low-color-light: #{$low-color-light};
  --high-color-default: #{$high-color-default};
  --high-color-dark: #{$high-color-dark};
  --high-color-medium: #{$high-color-medium};
  --high-color-light: #{$high-color-light};
}
