
.container {
  --callout-bg: var(--color-neutral-high-medium);
  --callout-fg: var(--color-neutral-low-default);

  border-radius: var(--border-radius-8);
  word-break: break-word;
  display: flex;
  align-items: center;
  min-height: var(--spacing-48);
  width: 100%;
  background-color: var(--callout-bg);
  color: var(--callout-fg);

  &.withTitle {
    min-height: var(--spacing-80);
  }
}

.brand {
  --callout-bg: var(--color-brand-primary-light);
}

.success {
  --callout-bg: var(--color-feedback-success-light);
}

.alert {
  --callout-bg: var(--color-feedback-alert-light);
}

.content {
  display: flex;
  align-items: center;
  padding: var(--spacing-16);
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--spacing-16);
  flex-shrink: 0;

  svg {
    width: var(--spacing-24);
    height: var(--spacing-24);
  }
}

.subcontent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  font-family: var(--font-family-primary);
  flex: 1;
}

.title {
  color: var(--callout-fg);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
}

.text {
  color: var(--callout-fg);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
}

.dismiss {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-left: auto;
  flex-shrink: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--callout-fg);
  border-radius: var(--border-radius-4);

  &:focus-visible {
    outline: var(--border-width-2) solid var(--color-brand-primary-default);
    outline-offset: -2px;
  }
}
