.example {
  border: var(--border-width-1) solid var(--color-neutral-high-medium);
  border-radius: var(--border-radius-8);
  background: var(--color-neutral-high-pure);
  padding: var(--spacing-24);
  margin-bottom: var(--spacing-24);
}

.demoBox {
  background: var(--color-brand-primary-default);
  color: var(--color-neutral-high-default);
  font-size: var(--font-size-14);
  padding: var(--spacing-12) var(--spacing-16);
  text-align: center;
  border-radius: var(--border-radius-8);
}

.card {
  background: var(--color-brand-primary-default);
  border: var(--border-width-1) solid var(--color-brand-primary-default);
  border-radius: var(--border-radius-8);
  padding: var(--spacing-16);
  color: var(--color-neutral-high-default);
  font-size: var(--font-size-14);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
