@use '../../../tokens/build/css/tokens.css';

.zds-chips {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-8) var(--spacing-16); 
  border-radius: var(--border-radius-pill);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);

  &__title {
    color: var(--color-neutral-low-default);
  }

  &__icon__left {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-low-default);
    padding: 0px var(--spacing-8);
  }

  &__icon__right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-low-default);
    padding: 0px var(--spacing-8);
  }

  &.has-left-icon {
    padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) 0px !important; 
  }

  &.has-right-icon {
    padding: var(--spacing-8) 0px var(--spacing-8) var(--spacing-16) !important; 
  }

  &.has-left-icon.has-right-icon {
    padding: var(--spacing-8) 0px !important;
  }

  &--neutral {
    background-color: var(--color-neutral-high-medium);
    color: var(--color-neutral-low-default);
  }

  &--brand {
    background-color: var(--color-brand-primary-light);
    color: var(--color-brand-primary-default);
  }

  &--color {
    background-color: var(--color-brand-secondary-medium);
    color: var(--color-brand-secondary-dark);
  }

  &--alert {
    background-color: var(--color-feedback-alert-light);
    color: var(--color-feedback-alert-dark);
  }

  &--success {
    background-color: var(--color-feedback-success-light);
    color: var(--color-feedback-success-dark);
  }

  &--disabled {
    background-color: var(--color-neutral-high-light);
    color: var(--color-neutral-low-light);
    cursor: not-allowed;
    pointer-events: none;
  
    .zds-chips {
      &__icon__left,
      &__icon__right {
        color: var(--color-neutral-low-light); 
      }
      
      &__title {
        color: var(--color-neutral-low-light);
      }
    }
  }
}