@use "sass:map";
@use "sass:string";
@use "sass:list";

// Breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  '2xl': 1536px
) !default;

@function escape-class($class) {
  $class-str: "#{$class}";
  $first-char: string.slice($class-str, 1, 1);
  $digits: '0', '1', '2', '3', '4', '5', '6', '7', '8', '9';

  @if list.index($digits, $first-char) {
    @return "\\" + $class-str;
  }

  @return $class-str;
}

// Mixin respond (media query)
@mixin respond($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

// Mixin utility (gera classes responsivas)
@mixin utility($bp, $selector) {
  // A função escape-class agora funciona para '4xl' e qualquer outro caso
  $escaped-bp: escape-class($bp);

  @include respond($bp) {
    .#{$escaped-bp}\:#{$selector} {
      @content;
    }
  }
}