@use "./breakpoints" as *;

// Flex Base
.flex {
  display: flex;
}

// Direções
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

// Responsivo vem depois
@each $bp, $size in $breakpoints {
  @include utility($bp, "flex-row") {
    flex-direction: row;
  }
  @include utility($bp, "flex-col") {
    flex-direction: column;
  }
}

// Justify
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}

// Responsivo vem depois
@each $bp, $size in $breakpoints {
  @include utility($bp, "justify-start") {
    justify-content: flex-start;
  }
  @include utility($bp, "justify-center") {
    justify-content: center;
  }
  @include utility($bp, "justify-end") {
    justify-content: flex-end;
  }
  @include utility($bp, "justify-between") {
    justify-content: space-between;
  }
}

// Align Items
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

// Responsivo vem depois
@each $bp, $size in $breakpoints {
  @include utility($bp, "items-start") {
    align-items: flex-start;
  }
  @include utility($bp, "items-center") {
    align-items: center;
  }
  @include utility($bp, "items-end") {
    align-items: flex-end;
  }
}
