@use "./breakpoints" as *;

// Grid Base
.grid {
  display: grid;
}

// Grid columns
@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}

// Responsivo vem depois (para sobrescrever corretamente)
@each $bp, $size in $breakpoints {
  @for $i from 1 through 12 {
    @include utility($bp, "grid-cols-#{$i}") {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

// Col span
@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

// Responsivo vem depois
@each $bp, $size in $breakpoints {
  @for $i from 1 through 12 {
    @include utility($bp, "col-span-#{$i}") {
      grid-column: span #{$i} / span #{$i};
    }
  }
}
