
.chips {
  --chips-bg: var(--color-neutral-high-medium);
  --chips-text: var(--color-neutral-low-default);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-8) var(--spacing-16);
  border-radius: var(--border-radius-pill);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
  background-color: var(--chips-bg);
  color: var(--chips-text);
}

.title {
  color: inherit;
}

.iconLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  padding: 0 var(--spacing-8);
}

.iconRight {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  padding: var(--spacing-0) var(--spacing-8);
}

.hasLeftIcon {
  padding: var(--spacing-8) var(--spacing-16) var(--spacing-8) var(--spacing-0);
}

.hasRightIcon {
  padding: var(--spacing-8) var(--spacing-0) var(--spacing-8) var(--spacing-16);
}

.hasLeftIcon.hasRightIcon {
  padding: var(--spacing-8) var(--spacing-0);
}

.brand {
  --chips-bg: var(--color-brand-primary-light);
}

.success {
  --chips-bg: var(--color-feedback-success-light);
}

.alert {
  --chips-bg: var(--color-feedback-alert-light);
}

.disabled {
  --chips-bg: var(--color-neutral-high-light);
  --chips-text: var(--color-neutral-low-light);
  cursor: not-allowed;
  pointer-events: none;
}