@use '../../styles/mixins/scale' as *;

.toggle,
.item {
  --giro-scale: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: scale(var(--toggle-button-gap));
  border-radius: scale(var(--toggle-button-radius));
  border: var(--toggle-button-off-border-width) solid var(--toggle-button-off-border-default);
  background-color: var(--toggle-button-off-background-default);
  color: var(--toggle-button-off-color-default);
  cursor: pointer;
  box-sizing: border-box;
  font-family: var(--toggle-button-font-family);
  font-size: scale(var(--toggle-button-font-size));
  font-weight: var(--toggle-button-font-weight);
  text-align: center;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &:hover {
    background-color: var(--toggle-button-off-background-hover);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: scale(var(--toggle-button-focus-outline-width)) solid var(--color-neutral-300);
  }

  &:active {
    outline: none;
    background-color: var(--toggle-button-off-background-pressed);
  }

  &[data-state='on'] {
    background-color: var(--toggle-button-on-background-default);
    border-color: var(--toggle-button-on-border-default);
    color: var(--toggle-button-on-color-default);

    &:hover {
      background-color: var(--toggle-button-on-background-hover);
      border-color: var(--toggle-button-on-border-hover);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: scale(var(--toggle-button-focus-outline-width)) solid var(--color-neutral-300);
    }

    &:active {
      outline: none;
      background-color: var(--toggle-button-on-background-pressed);
      border-color: var(--toggle-button-on-border-pressed);
    }
  }

  &[data-disabled] {
    border-color: var(--toggle-button-off-border-disabled);
    color: var(--toggle-button-off-color-disabled);
    background-color: var(--toggle-button-off-background-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.toggle-lg,
.item-lg {
  height: scale(var(--toggle-button-lg-height));
  padding: 0 scale(var(--toggle-button-sm-padding-inline));
}

.toggle-sm,
.item-sm {
  height: scale(var(--toggle-button-sm-height));
  padding: 0 scale(var(--toggle-button-sm-padding-inline));
}

.toggleIconLeft {
  @include scale-icon(var(--font-size-16));
  display: flex;
}

.toggle.toggleWithIcon,
.item.toggleWithIcon {
  gap: 0;
}

.toggle.toggleWithIcon .toggleIconLeft,
.item.toggleWithIcon .toggleIconLeft {
  margin-right: scale(var(--toggle-button-gap));
}

.toggle.toggle-lg.toggleIconOnly,
.item.item-lg.toggleIconOnly {
  padding: 0;
  width: scale(var(--toggle-button-lg-height));
  min-width: scale(var(--toggle-button-lg-height));
}

.toggle.toggle-sm.toggleIconOnly,
.item.item-sm.toggleIconOnly {
  padding: 0;
  width: scale(var(--toggle-button-sm-height));
  min-width: scale(var(--toggle-button-sm-height));
}


.toggle-lg.toggleWithIcon,
.item-lg.toggleWithIcon {
  padding-left: scale(var(--space-inset-md));
}

.toggle-sm.toggleWithIcon,
.item-sm.toggleWithIcon {
  padding-left: scale(var(--space-inset-xs));
}

.group {
  display: inline-flex;

  .item,
  .toggle {
    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &[data-orientation='vertical'] {
    flex-direction: column;

    .item,
    .toggle {
      &:first-child:not(:last-child) {
        border-radius: scale(var(--border-radius-8)) scale(var(--border-radius-8)) 0 0;
      }

      &:last-child:not(:first-child) {
        border-radius: 0 0 scale(var(--border-radius-8)) scale(var(--border-radius-8));
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
    }
  }
}