.container {
  margin: var(--spacing-0) auto;

  @media (max-width: 360px) {
    padding: var(--spacing-0) var(--spacing-16);
  }

  @media (orientation: portrait) and (max-width: 768px) {
    padding: var(--spacing-0) var(--spacing-32);
  }

  @media (max-width: 1024px) {
    padding: var(--spacing-0) var(--spacing-32);
  }

  @media (min-width: 1025px) {
    padding: var(--spacing-0) var(--spacing-48);
  }

  @media (min-width: 1921px) {
    padding: var(--spacing-0) var(--spacing-48);
    max-width: 1824px;
  }
}
