.container {
  margin: var(--spacing-0) auto;
  padding: var(--spacing-0) var(--spacing-16);

  @media (min-width: 361px) and (orientation: portrait) and (max-width: 768px) {
    padding: var(--spacing-0) var(--spacing-32);
  }

  @media (min-width: 361px) and (max-width: 1024px) {
    padding: var(--spacing-0) var(--spacing-32);
  }

  @media (min-width: 1025px) {
    padding: var(--spacing-0) var(--spacing-48);
  }

  @media (min-width: 1921px) {
    padding: var(--spacing-0) var(--spacing-48);
    max-width: 1824px;
  }
}
