.usageGuidelines {
  margin: var(--spacing-24) 0;
  border-radius: var(--border-radius-8);
  border-left: 4px solid var(--color-primary-default);
}
.usageGuidelines h2 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-16) 0;
  color: var(--color-neutral-low-default);
}

.usageGuidelines li {
  padding: var(--spacing-8) 0;
  font-size: var(--font-size-16);
  line-height: 1.6;
}
.usageGuidelines li code {
  background-color: var(--color-neutral-high-medium);
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--border-radius-4);
  font-family: monospace;
  font-size: 0.9em;
}