.docsFooter {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: var(--color-neutral-high-light);
  border-top: var(--border-width-1) solid var(--color-neutral-high-medium);
  margin-top: 48px !important;
  margin-bottom: 0 !important;
  padding: 48px 72px !important;
  display: flex;
  justify-content: center;
}

.docsFooterContent {
  flex: 1;
  max-width: 1200px;
  width: 100%;
}

.docsFooterTitles {
  max-width: 320px;
  flex-shrink: 0;
}

.docsFooter h2 {
  font-size: 28px;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-low-default);
  margin: 0 !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
  line-height: 105%;
  letter-spacing: -1.333px;
}

.docsFooter p {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 140%;
  letter-spacing: 0.427px;
  color: var(--color-neutral-low-medium);
  margin: 12px 0 0 0 !important;
}

/* Breakpoint 1024px - desktop */
@media screen and (min-width: 1024px) {
  .docsFooter {
    padding: 48px 132px !important;
  }
  
  .docsFooter h2 {
    font-size: 32px;
  }
  
  .docsFooter p {
    font-size: 16px;
  }
}

/* Breakpoint 1440px - large desktop */
@media screen and (min-width: 1440px) {
  .docsFooter {
    padding: 48px 120px !important;
  }
}

