.datePicker {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-8);
  position: relative;
}

.datePickerCalendarPopup {
  position: absolute;
  top: 100%;
  margin-top: var(--spacing-8);
  box-shadow: var(--spacing-0) var(--spacing-8) var(--spacing-24) rgba(17, 17, 25, 0.25);
}

.datePickerCalendarLeft {
  left: var(--spacing-0);
}

.datePickerCalendarRight {
  right: var(--spacing-0);
}

.datePickerIcon {
  cursor: pointer;
}

.datePickerIconDisabled {
  cursor: not-allowed;
}