.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.container.checkbox-scale-1-0 {
  transform: scale(1);
  transform-origin: top left;
}

.container.checkbox-scale-1-5 {
  transform: scale(1.5);
  transform-origin: top left;
}

.container.checkbox-scale-2-0 {
  transform: scale(2);
  transform-origin: top left;
}

.root {
  all: unset;
  position: relative;
  width: 18px;
  height: 18px;
  align-items: center;
  border: var(--border-width-2) solid var(--color-neutral-low-dark);
  border-radius: var(--border-radius-4);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);

  &[data-state='checked'],
  &[data-state='indeterminate'] {
    background-color: var(--color-brand-primary-default);
    border: var(--border-width-2) solid var(--color-brand-primary-default);
  }
  &[data-disabled='true'] {
    border: var(--border-width-2) solid var(--color-neutral-low-light);
    cursor: not-allowed;

    &[data-state='checked'] {
      background-color: var(--color-neutral-low-light);
      border-color: var(--color-neutral-low-light);
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.disabled {
  color: var(--color-neutral-low-light);
  &.label {
    color: var(--color-neutral-low-light);
    cursor: not-allowed;
  }
}
.indicator {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperCheckbox {
  width: 40px;
  height: 40px;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-circular);
  border: none ;
  &:focus:not(.disabled) {
    background-color: var(--color-neutral-high-dark);
    cursor: pointer;
    outline: none;
  }
  &:focus-visible:not(.disabled) {
    background-color: var(--color-neutral-high-dark);
    cursor: pointer;
    outline: none;
  }
  &:active:not(.disabled) {
    background-color: var(--color-neutral-high-dark);
    cursor: pointer;
  }
  &:hover:not(.disabled) {
    background-color: var(--color-neutral-high-medium);
    cursor: pointer;
  }
  &:has(> .root:active):not(.disabled){
    background-color: var(--color-neutral-high-dark);
    cursor: pointer;
  }
  &.disabled {
    cursor: not-allowed;
    .root {
      cursor: not-allowed;
    }
  }
}


.label {
  color: var(--color-neutral-low-default);
  font-size: var(--font-size-16);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  line-height: 1;
  &:hover {
    cursor: pointer;
  }
  &.disabled {
    cursor: not-allowed;
  }
}
