.root {
  --radio-scale: 1;
  display: flex;
  gap: calc(var(--spacing-8) * var(--radio-scale, 1));
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
  &[data-orientation='horizontal'] {
    flex-direction: row;
  }
}

.wrapper {
  display: flex;
  min-height: calc(40px * var(--radio-scale, 1));
  align-items: center;
  cursor: pointer;

  &.disabled .labelText{
    color: var(--color-neutral-low-light);
    cursor: not-allowed;
  }

  &:has(.item:focus-visible) .itemWrapper {
    background-color: var(--color-neutral-high-dark);
    outline-offset: calc(var(--border-width-2) * var(--radio-scale, 1));
  }

  &:has(.item[data-disabled='true']) {
    cursor: not-allowed;
  }

  &:has(.item[data-disabled='true']) .itemWrapper:hover {
    background-color: transparent;
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.itemWrapper {
  width: calc(40px * var(--radio-scale, 1));
  height: calc(40px * var(--radio-scale, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--border-radius-circular) * var(--radio-scale, 1));

  &:hover{
  background-color: var(--color-neutral-high-medium);
  }

  &:active, &:focus{ 
  background-color: var(--color-neutral-high-dark);
  }
}

.item {
  border: var(--border-width-2) solid var(--color-neutral-low-dark);
  border-radius: calc(var(--border-radius-12) * var(--radio-scale, 1));
  padding: calc(var(--spacing-8) * var(--radio-scale, 1));
  width: calc(20px * var(--radio-scale, 1));
  height: calc(20px * var(--radio-scale, 1));
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.1s;
  background-color: transparent;

  &[data-state='checked'] {
    border: var(--border-width-2) solid var(--color-brand-primary-default);
  }

  &:focus-visible {
    outline: none;
  }

  &[data-disabled='true'] {
    border: var(--border-width-2) solid var(--color-neutral-low-light);
    cursor: not-allowed;
  }

  &[data-disabled='true'][data-state='checked'] {
    border: var(--border-width-2) solid var(--color-neutral-low-light);
  }

  &[data-disabled='true'] .indicator::after {
    background-color: var(--color-neutral-low-light);
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(10px * var(--radio-scale, 1));
    height: calc(10px * var(--radio-scale, 1));
    border-radius: calc(var(--border-radius-circular) * var(--radio-scale, 1));
    background-color: var(--color-brand-primary-default);
  }
}

.labelText {
  margin-left: calc(var(--spacing-8) * var(--radio-scale, 1));
  font-family: var(--font-family-primary);
  font-size: calc(var(--font-size-16) * var(--radio-scale, 1));
  color: var(--color-neutral-low-default);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  text-overflow: ellipsis;
  line-height: 1.5;
}
