.AvatarRoot {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	border-radius: var(--border-radius-circular);
}

.AvatarRoot.AvatarRoot--sm {
  width: 32px;
  height: 32px;
}

.AvatarRoot.AvatarRoot--lg {
  width: 44px;
  height: 44px;

}

.AvatarImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius: var(--border-radius-circular);
  display: flex;
	align-items: center;
	justify-content: center;
}

.AvatarFallback {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-neutral-low-default);
  background-color: var(--color-neutral-high-medium);
  border-radius: var(--border-radius-circular);
	font-weight: var(--font-weight-medium);
}

.AvatarRoot--sm .AvatarFallback {
	font-size: var(--font-size-12);
  svg {
		width: 16px !important;
    height: 16px !important;
	}
}

.AvatarRoot--lg .AvatarFallback {
	font-size: var(--font-size-18);
  svg {
		width: 24px !important;
    height: 24px !important;
	}
}
