@use '../../../tokens/build/css/tokens.css' as *;


.zds-avatar__circle {
  border-radius: var(--border-radius-circular);
  background-color: var(--color-neutral-high-medium);
  display: flex;
  align-items: center;
}

.zds-avatar__circle.zds-avatar__large {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-circular);
  background-color: var(--color-neutral-high-medium);
  width: 44px;
  height: 44px;
  & div.zds-avatar__circle__icon svg,
  path {
    display: flex;
    align-items: center;
    width: 24px !important;
    height: 24px !important;
    color: var(--color-neutral-low-default);
  }
}

.zds-avatar__circle.zds-avatar__small {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-circular);
  background-color: var(--color-neutral-high-medium);
  width: 32px;
  height: 32px;
  & div.zds-avatar__circle__icon {
    svg,
    path {
      display: flex;
      align-items: center;
      width: 16px !important;
      height: 16px !important;
      color: var(--color-neutral-low-default);
    }
  }
}