@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/violet.css";

.DialogOverlay {
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	opacity: 0.3;
	background-color: var(--color-neutral-high-dark);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	
}

.DialogContent {
	background: var(--color-neutral-high-default);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	max-height: 50vh;
	padding: 24px;
	z-index: 11;
	border-radius: 16px;
	border: 1px solid var(--color-neutral-high-dark);
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
	outline: none;
}

.DialogTitle {
	display: flex;
	align-items: center;
	gap: var(--spacing-12);
	margin: var(--spacing-0);
	color: var(--color-neutral-low-default);
	font-size: var(--font-size-20);
	font-weight: var(--font-weight-bold);
	font-family: var(--font-family-primary);
}

.DialogDescription {
	margin-bottom: 20px;
	color: var(--color-neutral-low-dark);
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-16);
	line-height: 1.3;
}

.Button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 15px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	user-select: none;
}
.Button:focus:not(:focus-visible) {
	outline: 0;
}
.Button:focus-visible {
	outline: 2px solid var(--violet-6);
	outline-offset: 1px;
}
.Button.violet {
	background-color: var(--violet-4);
	color: var(--violet-12);
	outline-color: var(--violet-6);
}
.Button.violet:hover {
	background-color: var(--mauve-3);
}
.Button.red {
	background-color: var(--red-4);
	color: var(--red-11);
	outline-color: var(--red-7);
}
.Button.red:hover {
	background-color: var(--red-5);
}
.Button.mauve {
	background-color: var(--mauve-4);
	color: var(--mauve-11);
	outline-color: var(--mauve-7);
}
.Button.mauve:hover {
	background-color: var(--mauve-5);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.3;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
