.badgeContainer {
  position: relative;
  display: inline-flex;
}

.badge {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
  position: absolute;
  top: var(--spacing-0);
  right: var(--spacing-0);
  transform: translate(30%, -30%);
  transform-origin: 100% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width-2) solid var(--color-neutral-high-light);
  border-radius: var(--border-radius-pill);
  color: var(--color-neutral-high-light);
  background-color: var(--color-feedback-alert-default);
  font-family: var(--font-family-primary);

  &__status {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-12);
    font-family: var(--font-family-primary);
    color: var(--color-neutral-high-light);
    background-color: var(--color-feedback-alert-default);
    border-radius: var(--border-radius-pill);
    border: var(--border-width-2) solid var(--color-neutral-high-default);
    margin-left: var(--spacing-8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;

    span {
      color: var(--color-neutral-high-default);
    }

    &__empty {
      width: 8px;
      height: 8px;
      border-radius: var(--border-radius-pill);
      padding: var(--spacing-0);
    }

    &__large {
      height: 20px;
      padding: var(--spacing-0) var(--spacing-4);
    }

    &__filterBadge {
      background-color: var(--color-brand-primary-default);
    }
  }

  &__small {
    width: 20px;
    height: 20px;
  }

  &__large {
    height: 20px;
    padding: var(--spacing-0) var(--spacing-4);
  }
}