.badgeContainer {
  position: relative;
}

.badge {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: var(--border-radius-pill);
  color: var(--color-neutral-high-light);
  background-color: var(--color-feedback-alert-default);
  font-family: var(--font-family-primary);
  height: 16px;

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--spacing-8);
    height: 20px;
    width: 20px;
    border-radius: var(--border-radius-pill);
    background-color: var(--color-brand-primary-default);
    border: var(--border-width-2) solid var(--color-neutral-high-default);
    font-family: var(--font-family-primary);

    span {
      color: var(--color-neutral-high-default) !important;
    }

    &__empty {
      width: 8px;
      height: 8px;
      background-color: var(--color-feedback-alert-default);
      border-radius: var(--border-radius-pill);
      padding: 0px;
      top: -2px;
      right: -2px;
    }
  }

  &__small {
    width: 16px;
    height: 16px;
  }

  &__large {
    height: 16px;
    padding: 0px var(--spacing-4);
  }
}