// =============================================================================
// ZDS Select Component
// =============================================================================

.zds-select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;


  &__trigger {
    width: 100%;
    outline: none;
  }
   &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
  }
}