.zds-dialog__overlay {
  position: fixed;
  inset: 0;
  background: rgba(17, 17, 25, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Wrapper centraliza o dialog
.zds-dialog__wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

// Dialog container
.zds-dialog {
  background: var(--color-neutral-high-default); // Fundo branco
  border-radius: var(--border-radius-16);
  border-width: var(--border-width-1);
  padding: var(--spacing-24);
  width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

// Título do dialog
.zds-dialog__title {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-low-default);
  margin: 0 0 var(--spacing-16) 0;
}

// Texto do dialog
.zds-dialog__text {
  font-size: var(--font-size-16);
  color: var(--color-neutral-low-dark);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacing-32);
}

// Ações alinhadas à direita, com espaçamento entre botões
.zds-dialog__actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-16);
}

@media (max-width: 1024px) {
  .zds-dialog {
    width: 312px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }
}