:root {
  --prefix_class: #{$prefix_class};
  --prefix_id: #{$prefix_id};
  --low-color-default: #{$low-color-default};
  --low-color-dark: #{$low-color-dark};
  --low-color-medium: #{$low-color-medium};
  --low-color-light: #{$low-color-light};
  --high-color-default: #{$high-color-default};
  --high-color-dark: #{$high-color-dark};
  --high-color-medium: #{$high-color-medium};
  --high-color-light: #{$high-color-light};
  --brand-color-primary-default: #{$brand-color-primary-default};
  --brand-color-primary-dark: #{$brand-color-primary-dark};
  --brand-color-primary-medium: #{$brand-color-primary-medium};
  --brand-color-primary-light: #{$brand-color-primary-light};
  --brand-color-secondary-default: #{$brand-color-secondary-default};
  --brand-color-secondary-dark: #{$brand-color-secondary-dark};
  --brand-color-secondary-medium: #{$brand-color-secondary-medium};
  --brand-color-secondary-light: #{$brand-color-secondary-light};
  --alert-color-default: #{$alert-color-default};
  --alert-color-dark: #{$alert-color-dark};
  --alert-color-medium: #{$alert-color-medium};
  --alert-color-light: #{$alert-color-light};
  --success-color-default: #{$success-color-default};
  --success-color-dark: #{$success-color-dark};
  --success-color-medium: #{$success-color-medium};
  --success-color-light: #{$success-color-light};
  --border-width-none: #{$border-width-none};
  --border-width-1: #{$border-width-1};
  --border-width-2: #{$border-width-2};
  --border-width-4: #{$border-width-4};
  --border-width-6: #{$border-width-6};
  --border-width-8: #{$border-width-8};
  --border-width-12: #{$border-width-12};
  --border-radius-none: #{$border-radius-none};
  --border-radius-4: #{$border-radius-4};
  --border-radius-8: #{$border-radius-8};
  --border-radius-12: #{$border-radius-12};
  --border-radius-16: #{$border-radius-16};
  --border-radius-24: #{$border-radius-24};
  --border-radius-pill: #{$border-radius-pill};
  --border-radius-circular: #{$border-radius-circular};
  --font-family-primary: #{$font-family-primary};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-bold: #{$font-weight-bold};
  --font-size-96: #{$font-size-96};
  --font-size-64: #{$font-size-64};
  --font-size-48: #{$font-size-48};
  --font-size-40: #{$font-size-40};
  --font-size-32: #{$font-size-32};
  --font-size-24: #{$font-size-24};
  --font-size-28: #{$font-size-28};
  --font-size-20: #{$font-size-20};
  --font-size-18: #{$font-size-18};
  --font-size-16: #{$font-size-16};
  --font-size-14: #{$font-size-14};
  --font-size-12: #{$font-size-12};
  --font-size-inherit: #{$font-size-inherit};
  --spacing-0: #{$spacing-0};
  --spacing-4: #{$spacing-4};
  --spacing-8: #{$spacing-8};
  --spacing-12: #{$spacing-12};
  --spacing-16: #{$spacing-16};
  --spacing-24: #{$spacing-24};
  --spacing-32: #{$spacing-32};
  --spacing-40: #{$spacing-40};
  --spacing-48: #{$spacing-48};
  --spacing-56: #{$spacing-56};
  --spacing-64: #{$spacing-64};
  --spacing-80: #{$spacing-80};
  --spacing-120: #{$spacing-120};
  --spacing-160: #{$spacing-160};
  --spacing-200: #{$spacing-200};
}
