@use '@giro-ds/utilities/src/index.scss' as *;

:root {
  --c-success: #22c55e;
  --c-error: #ef4444;
}
h1 {
  font-size: var(--font-size-32) !important;
  font-weight: var(--font-weight-bold) !important;
}
h3 {
  margin-top: var(--spacing-64) !important;
}

