@use '@giro-ds/utilities/src/index.scss' as *;

:root {
  --c-success: #22c55e;
  --c-error: #ef4444;
}
.heading-1 {
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-bold) ;
}
.heading-2 {
  margin-top: var(--spacing-64);
}
.heading-3 {
  margin-top: var(--spacing-64);
}

