.container {
  display: flex;
  font-family: var(--font-family-primary);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
  font-weight: var(--font-weight-regular);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-self: stretch;
  width: 100%;

  textarea {
    min-width: 150px;
    min-height: 70px;
    width: 100%;
    display: block;
    padding: var(--spacing-12) var(--spacing-16);
    border-radius: var(--border-radius-8);
    border: var(--border-width-1) solid var(--color-neutral-high-dark);
    outline: none;
    color: var(--color-neutral-low-default);
    font-size: var(--font-size-16);
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.5;
    box-sizing: border-box;
    background-color: var(--color-neutral-high-default);

    &:hover {
      border: var(--border-width-1) solid var(--color-neutral-low-dark);
    }

    &:focus-visible {
      border: var(--border-width-2) solid var(--color-brand-primary-default);
    }

    &::placeholder {
      color: var(--color-neutral-low-medium);
      font-family: inherit;
      font-weight: inherit;
      font-size: var(--font-size-16);
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
}

.helperText {
  font-size: var(--font-size-12);
  color: var(--color-neutral-low-medium);
  font-family: inherit;
  font-weight: inherit;
  padding-top: var(--spacing-8);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
  overflow: hidden;
  display: block;

  &:empty::after {
    content: '\00A0';
    visibility: hidden;
  }
}

.charCount {
  font-size: var(--font-size-12);
  color: var(--color-neutral-low-medium);
  font-family: inherit;
  font-weight: inherit;
  padding-top: var(--spacing-8);
  white-space: nowrap;
  flex-shrink: 0;
}

.error {
  .helperText {
    color: var(--color-feedback-alert-default);
  }

  .inputContainer textarea {
    border: var(--border-width-1) solid var(--color-feedback-alert-default);

    &:focus-visible {
      border: var(--border-width-2) solid var(--color-feedback-alert-default);
    }
  }
}

.disabled {
  .inputContainer textarea {
    border: var(--border-width-1) solid var(--color-neutral-high-dark);
    color: var(--color-neutral-high-dark);
    background-color: var(--color-neutral-high-default);
    cursor: not-allowed;
    resize: none;

    &::placeholder {
      color: var(--color-neutral-high-dark);
    }

    &:hover {
      border: var(--border-width-1) solid var(--color-neutral-high-dark);
    }
  }
}



