.container {
	display: "flex";
	align-items: "center" 
}

.SwitchRoot {
	width: 52px;
	height: 32px;
	background-color: #F5F5FA;
	border-radius: 100px;
	box-shadow: none;
	padding: 2px 4px;
	outline: 1px solid #CFD0DA;
	border: none;
	position: relative;
	align-items: center;
	gap: 8px;
	&:hover {
		background-color: #E8E8EE;
	}
	&:focus {
		background-color:#F5F5FA;
		outline: 3px solid #CADAFF;
		box-shadow: none;
	}
	&[data-state="checked"] {
		background-color: #1D60FA;
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:hover {
		background-color: #4F83FB;
		outline: none;
		box-shadow: none;
	}
	&[data-state="checked"]:focus {
		outline: 3px solid #CADAFF;
		box-shadow: none;
	}
	&:disabled{
		background: #CFD0DA;
		box-shadow: none;
	}
	&[data-state="checked"]:disabled{
		background: #CADAFF;
		box-shadow: none;
	}
	
}

.SwitchThumb {
	display: block;
	width: 2px;
	height: 2px;
	padding: 7px;
	background-color: #88898C;
	border-radius: 9999px;
	border: none;
	box-shadow: none;
	transition: transform 100ms;
	transform: translateX(0px);
	will-change: transform;
	&:focus {
		outline: 3px solid #CADAFF;;
	}
	&[data-state="checked"] {
		transform: translateX(22px);
		width: 2px;
		height: 2px;
		padding: 11px;
	}
	&[data-state="checked"]:disabled{
		width: 4px;
		height: 4px;
		padding: 13px;
	}
}
