.zds-date-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-8);
  position: relative;
}

.zds-textfield__container {
  width: 100%;
  max-width: 280px;
  
  @media (max-width: 360px) {
    max-width: 100%;
    min-width: 280px;
  }
  
  @media (max-width: 768px) {
    max-width: 320px;
  }
}

.zds-date-picker__calendar-popup {
  position: absolute;
  top: 100%;
  margin-top: var(--spacing-8);
  box-shadow: 0 var(--spacing-8) var(--spacing-24) rgba(17, 17, 25, 0.25);
  z-index: var(--z-index-dropdown, 15);
}

.zds-calendar--left {
  left: 0;
}

.zds-calendar--right {
  right: 0;
}