.ToastViewport {
	position: fixed;
	bottom: var(--spacing-0);
	left: var(--spacing-0);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-16);
	min-width: 265px;
	max-width: 100vw;
	margin: var(--spacing-0);
	list-style: none;
	z-index: 5;
	outline: none;
	padding: var(--spacing-48);

	@media (max-width: 1024px) {
    padding: var(--spacing-32);
  }

	@media (max-width: 360px) {
    padding: var(--spacing-16);
		width: 100vw;
		right: var(--spacing-0);
		left: var(--spacing-0);
  }
}

.toastRoot {
	color: var(--color-neutral-high-default);
	display: inline-flex;
	height: var(--spacing-48);
	min-width: 297px;
	padding: var(--spacing-10) var(--spacing-16);
	align-items: center;
	border-radius: var(--border-radius-8);
	background-color: var(--color-neutral-low-dark);

    @media (max-width: 360px) {
        width: 328px;                    
				max-width: 100%; 
				box-sizing: border-box;
    }
}

div.ToastRoot[data-state="open"] {
	animation: slideIn 0.4s ease forwards;
}

.ToastTitle {
	font-size: var(--font-size-16);
}

.ToastDescription {
	font-size: var(--font-size-14);
}

.ToastTitle, .ToastDescription {
	font-weight: var(--font-weight-regular);
	color: var(--color-neutral-high-default);
}

.ToastAction {
	grid-area: action;
}

.ToastClose {
	grid-area: close;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--color-neutral-high-default);
	margin: 10px var(--spacing-16);
	margin-left: 24px;
	padding: 0;
}

.Icon {
	margin: 10px var(--spacing-16);
}

.IconInfo {
	color: var(--color-brand-primary-light); 
}

.IconSucess {
	color: var(--color-feedback-success-medium); 
}

.IconAlert {
	color: var(--color-feedback-alert-medium); 
}