.ToastViewport {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-10);
	width: 265px;
	max-width: 100vw;
	margin: 0;
	list-style: none;
	z-index: 5;
	outline: none;
	padding: var(--spacing-48);

	@media (max-width: 1024px) {
    padding: var(--spacing-32);
  }

	@media (max-width: 360px) {
    padding: var(--spacing-16);
		width: 100vw;
		right: 0;
		left: 0;
  }
}

.toastRoot {
	color: var(--color-neutral-high-default);
	display: inline-flex;
	height: var(--spacing-48);
	width: 297px;
	padding: var(--spacing-10) var(--spacing-16);
	align-items: center;
	gap: var(--spacing-24);
	border-radius: var(--border-radius-8);
	background-color: var(--color-neutral-low-dark);

    @media (max-width: 360px) {
        width: 328px;                    
				max-width: 100%; 
				box-sizing: border-box;
    }
}

div.ToastRoot[data-state="open"] {
	animation: slideIn 0.4s ease forwards;
}

.ToastTitle {
	font-size: var(--font-size-16);
}

.ToastDescription {
	font-size: var(--font-size-14);
}

.ToastAction {
	grid-area: action;
}

.ToastClose {
	grid-area: close;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--color-neutral-high-default);
	margin: 10px 16px;
	margin-left: auto;
}

.Icon {
	margin: 10px 16px;
}