.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-8);
  border: var(--border-width-1) solid var(--color-neutral-high-dark);
  padding: 0 var(--spacing-16);
  font-size: var(--font-size-16);
  height: 44px;
  gap: var(--spacing-8);
  font-family: var(--font-family-primary);

  &:hover {
    border: var(--border-width-2) solid var(--color-brand-primary-default);
    outline: none;
    border-radius: var(--border-radius-8);
  }
 
  &.error {
    border: var(--border-width-1) solid var(--color-feedback-alert-default);
    &:hover,
    &:focus {
      border: var(--border-width-2) solid var(--color-feedback-alert-default);
    }
  }
}
.triggerCheckbox {
  margin-bottom: var(--spacing-8);
}

.content {
  background-color: var(--color-neutral-high-default);
  border-radius: var(--border-radius-8);
  box-shadow: 0 2px 16px 0px rgba(0, 0, 0, 0.2);
  border-color: var(--color-neutral-high-dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  padding: var(--spacing-16);
}

.viewport {
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  height: 44px;
  color: var(--color-low-default);
  font-size: var(--font-size-16);
  border-radius: var(--border-radius-8);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-4);
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);

  &:hover:not([data-disabled]):not([data-selected='true']) {
    background-color: var(--color-neutral-high-medium);
  }
  &.disabled {
    color: var(--color-neutral-low-light);
    .subTitle {
      color: var(--color-neutral-low-light);
    }
  }

  &[data-highlighted] {
    outline: none;
  }

  &[data-state='checked'] {
    color: var(--color-brand-primary-default);
    .subTitle {
      color: var(--color-brand-primary-default);
    }
  }

  &[data-selected='true'] {
    .title {
      color: var(--color-brand-primary-default);
    }

    .subTitle {
      color: var(--color-brand-primary-default);
    }
  }
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--border-radius-8);
  height: 44px;
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
  margin-bottom: var(--spacing-16);
  gap: var(--spacing-8);
  &:hover:not([data-disabled]):not([data-selected='true']) {
    background-color: var(--color-neutral-high-medium);
  }
  &.disabled {
    color: var(--color-neutral-low-light);
    .subTitle {
      color: var(--color-neutral-low-light);
    }
  }
}

.subTitle {
  font-size: var(--font-size-14);
  color: var(--color-neutral-low-dark);
  font-family: var(--font-family-primary);
}
.icon {
  width: 16px;
  height: 16px;
}
.search {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.containerLabel {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-4);
  flex-direction: column;
}
.helper {
  font-size: var(--font-size-12);
  color: var(--color-neutral-low-medium);
  font-family: var(--font-family-primary);
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: left;
  overflow: hidden;
}

.error {
  font-size: var(--font-size-12);
  color: var(--color-feedback-alert-default);
  font-family: var(--font-family-primary);
}
.noResults {
  font-size: var(--font-size-14);
  color: var(--color-low-default);
  font-family: var(--font-family-primary);
  padding: var(--spacing-8);
}
