// Spacing
$spacing-0: 0px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-80: 80px;
$spacing-120: 120px;
$spacing-160: 160px;
$spacing-200: 200px;

:root {
  --spacing-0: #{$spacing-0};
  --spacing-4: #{$spacing-4};
  --spacing-8: #{$spacing-8};
  --spacing-12: #{$spacing-12};
  --spacing-16: #{$spacing-16};
  --spacing-24: #{$spacing-24};
  --spacing-32: #{$spacing-32};
  --spacing-40: #{$spacing-40};
  --spacing-48: #{$spacing-48};
  --spacing-56: #{$spacing-56};
  --spacing-64: #{$spacing-64};
  --spacing-80: #{$spacing-80};
  --spacing-120: #{$spacing-120};
  --spacing-160: #{$spacing-160};
  --spacing-200: #{$spacing-200};
}
