@mixin buttonSize($height, $padding-x, $min-width) {
  height: $height;
  padding: var(--spacing-0) $padding-x;
  min-width: $min-width;
}

@mixin buttonIconPadding($left-padding, $right-padding) {
  &.buttonIconPosition-left {
    padding: var(--spacing-0) $right-padding var(--spacing-0) $left-padding;
  }
  
  &.buttonIconPosition-right {
    padding: var(--spacing-0) $left-padding var(--spacing-0) $right-padding;
  }
  &.buttonIconPosition-both {
    padding: var(--spacing-0) $left-padding ;
  }
}

@mixin iconOnlySize($size) {
  padding: var(--spacing-0);
  width: $size;
  height: $size;
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
  flex-shrink: 0;
  color: var(--color-neutral-high-default);
}

@mixin iconSize($size: 16px) {
  svg {
    width: $size;
    height: $size;
    flex-shrink: 0;
  }
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-8);
  box-shadow: none;
  padding: var(--spacing-0) var(--spacing-24);
  text-align: center;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    outline-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  
  font-family: var(--font-family-primary);
  font-size: var(--font-size-14);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

.button.button-lg {
  @include buttonSize(44px, var(--spacing-24), 92px);
}

.button.button-sm {
  @include buttonSize(36px, var(--spacing-16), 76px);
}

.button.button-filled {
  background: var(--color-brand-primary-default);
  color: var(--color-neutral-high-default);
  border: none;
}

.button.button-outlined {
  border: var(--border-width-1) solid var(--color-neutral-high-dark);
  background-color: var(--color-neutral-high-default);
  color: var(--color-brand-primary-default);
}

.button.button-text {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-brand-primary-default);
}

.button.button-lg.buttonWithIcon {
  @include buttonIconPadding(var(--spacing-16), var(--spacing-24));
}

.button.button-sm.buttonWithIcon {
  @include buttonIconPadding(var(--spacing-8), var(--spacing-16));
}

.button.button-text.button-lg {
  padding: var(--spacing-0) var(--spacing-12);
  
  &.buttonWithIcon {
    @include buttonIconPadding(var(--spacing-8), var(--spacing-12));
    
    &.buttonNoContent {
      padding: var(--spacing-0) var(--spacing-16);
    }
  }
}

.button.button-text.button-sm {
  padding: var(--spacing-0) var(--spacing-8);
  
  &.buttonWithIcon {
    @include buttonIconPadding(var(--spacing-4), var(--spacing-8));
    
    &.buttonNoContent {
      padding: var(--spacing-0) var(--spacing-8);
    }
  }
}

.button.button-lg.buttonIconOnly {
  @include iconOnlySize(44px);
}

.button.button-sm.buttonIconOnly {
  @include iconOnlySize(36px);
}

.buttonIconOnly span {
  width: 16px;
  height: 16px;
}

.buttonIconLeft,
.buttonIconRight,
.buttonIconOnly {
  @include iconSize(16px);
}

.button svg {
  width: 16px !important;
  height: 16px !important;
  flex-shrink: 0;
}

.button.button-filled.button-lg.buttonIconOnly,
.button.button-outlined.button-lg.buttonIconOnly,
.button.button-text.button-lg.buttonIconOnly {
  @include iconOnlySize(44px);
}

.button.button-filled.button-sm.buttonIconOnly,
.button.button-outlined.button-sm.buttonIconOnly,
.button.button-text.button-sm.buttonIconOnly {
  @include iconOnlySize(36px);
}
.button.buttonFullWidth {
  width: 100%;
  max-width: unset;
}

.buttonIconLeft {
  display: flex;
  margin-right: var(--spacing-8);
}

.buttonIconRight {
  display: flex;
  margin-left: var(--spacing-8);
}

.button.buttonNoContent .buttonIconLeft,
.button.buttonNoContent .buttonIconRight {
  margin: var(--spacing-0);
}

.button:hover,
.button:hover * {
  text-decoration: none;
}

.button.button-filled:hover {
  background: var(--color-brand-primary-medium);
}

.button.button-filled:focus-visible {
  outline: var(--border-width-4) solid var(--color-neutral-high-dark);
  outline-offset: var(--border-width-2);
}

.button.button-filled:active {
  background: var(--color-brand-primary-dark);
  color: var(--color-neutral-high-default);
  outline: none;
}

.button.button-filled:disabled,
.button.button-filled.disabled {
  background: var(--color-neutral-high-light);
  color: var(--color-neutral-low-light);
  cursor: not-allowed;
  opacity: 0.5;
  outline: none;
}

.button.button-outlined * {
  color: var(--color-brand-primary-default);
}

.button.button-outlined:hover {
  color: var(--color-brand-primary-default);
  background-color: var(--color-neutral-high-medium);
}

.button.button-outlined:focus-visible {
  outline: var(--border-width-4) solid var(--color-neutral-high-dark);
  outline-offset: var(--border-width-2);
  color: var(--color-brand-primary-default);
  background-color: var(--color-neutral-high-default);
}

.button.button-outlined:focus-visible * {
  color: var(--color-brand-primary-default);
}

.button.button-outlined:active {
  outline: none;
  color: var(--color-brand-primary-default);
  background-color: var(--color-neutral-high-dark);
}

.button.button-outlined:active * {
  color: var(--color-brand-primary-default);
}

.button.button-outlined:disabled,
.button.button-outlined.disabled {
  outline: var(--border-width-1) solid var(--color-neutral-high-medium);
  color: var(--color-neutral-high-dark);
  cursor: not-allowed;
  background-color: var(--color-neutral-high-default);
}

.button.button-outlined:disabled *,
.button.button-outlined.disabled * {
  color: var(--color-neutral-high-dark);
}

.button.button-text * {
  color: var(--color-brand-primary-default);
}

.button.button-text:hover {
  color: var(--color-brand-primary-default);
  background-color: var(--color-neutral-high-medium);
}

.button.button-text:focus-visible {
  outline: var(--border-width-4) solid var(--color-neutral-high-dark);
  outline-offset: var(--border-width-2);
  color: var(--color-brand-primary-default);
  background-color: transparent;
}

.button.button-text:active {
  outline: none;
  color: var(--color-brand-primary-default);
  background-color: var(--color-neutral-high-dark);
}

.button.button-text:disabled,
.button.button-text.disabled {
  color: var(--color-neutral-high-dark);
  cursor: not-allowed;
  outline: none; 

  &:hover {
    background-color: transparent;
  }
}

.button.button-text:disabled *,
.button.button-text.disabled * {
  color: var(--color-neutral-high-dark);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.buttonLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.button-lg.buttonLoading {
  @include buttonSize(44px, var(--spacing-24), 92px);
  
  &.buttonWithIcon {
    &.buttonIconPosition-left,
    &.buttonIconPosition-right,
    &.buttonIconPosition-both,
    &.buttonNoContent {
      padding: var(--spacing-0) var(--spacing-24);
    }
  }
}

.button.button-sm.buttonLoading {
  @include buttonSize(36px, var(--spacing-16), 76px);
  
  &.buttonWithIcon {
    &.buttonIconPosition-left,
    &.buttonIconPosition-right,
    &.buttonIconPosition-both,
    &.buttonNoContent {
      padding: var(--spacing-0) var(--spacing-16);
    }
  }
}

.buttonLoading span {
  width: 16px;
  height: 16px;
}

.buttonLoading {
  @include iconSize(16px);
  
  svg {
    animation: spin 1s linear infinite;
  }
}